body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
}
.prediction-container {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}
.prediction-label {
    font-size: 1rem;
    color: #333;
}
.prediction-confidence {
    font-weight: bold;
    color: #007bff;
}
#webcam-container, #upload-prediction {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

#label-container div, #upload-prediction div {
    margin-top: 10px;
}

button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(40, 144, 241);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(40, 144, 241);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    margin: 20px 0;
  }

  button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  button:hover {
    color: #fff;
    border: 1px solid rgb(40, 144, 241);
  }
  
  button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
  }

/* Hide the default text */
label {
    display: block;
    margin: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    text-decoration: underline;
  }

.form-control::file-selector-button {
    display: none;
  }

.form-control {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    border: 1px solid #007bff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s 0.1s ease-out;
    line-height: 15px;
    text-decoration: none;
}

.form-control:hover {
    background-color: #f5f5f5;
  }

  .webcam-feed {
    width: 100%; /* Adjust based on your layout */
    max-width: 640px;
    height: auto;
    border-radius: 10px;
    background: transparent;
}
